<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>{% block pagetitle %}{% endblock %}</title>
        <link href='http://fonts.googleapis.com/css?family=Droid+Serif&subset=latin' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans&subset=latin' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
<div id="page">
	<div id="header"><div id="title_text">{% block title %}{% endblock %}</div></div>
	<div id="content">
          {% block content %}{% endblock %}
	</div>
</div>
</body>
</html>
