{% extends "base.html" %}

{% block pagetitle %}Jobber Home{% endblock %}
{% block title %}{% endblock %}

{% block javascript %}
{% endblock %}

{% block content %}
 <div id="company_name">Welcome to Jobber! Review for Rewards!</div>
 <div id="recent_reviews">Last 5 Reviews:</div>
 <div id="reviews" style="margin-top:20px;padding:5px;background-color:#eeffee;border-top:1px dashed #999">
 {% for review in reviews %}
    An anonymous person wrote:
   <blockquote><i>"{{ review.text|escape }}"</i></blockquote>
 {% endfor %}
</div>
{% endblock %}
