{% extends "base.html" %}

{% block pagetitle %}Write a Review{% endblock %}
{% block title %}Write a Review{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/javascript/stars.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  Stars.createStars("#overall");
  Stars.createStars("#benefits");
  Stars.createStars("#salary");
  Stars.createStars("#environment");
  Stars.createStars("#peers");
  Stars.createStars("#location");
  Stars.createStars("#growth");

  $("input[type=hidden]").attr("value", 3);
  $("[name=star_3]").click();
});
</script>
{% endblock %}

{% block pagestyle %}
{% endblock %}

{% block content %}
 <div id="company_name">Rate {{ company_name }}</div>
 <form action="review" method="post">
   <table>
     <tr>
       <td class="rightaligned">
         <label name="overall">Overall</label>
       </td>
       <td>
         <input id="overall" type="hidden" name="overall" />
       </td>
     </tr>
     <tr>
       <td class="rightaligned">
         <label name="benefits">Benefits</label>
       </td>
       <td>
         <input id="benefits" type="hidden" name="benefits" />
       </td>
     </tr>
    <tr>
       <td class="rightaligned">
         <label name="salary">Salary</label>
       </td>
       <td>
         <input id="salary" type="hidden" name="salary" />
       </td>
     </tr>
     <tr>
       <td class="rightaligned">
         <label name="environment">Environment</label>
       </td>
       <td>
         <input id="environment" type="hidden" name="environment" />
       </td>
     </tr>
     <tr>
       <td class="rightaligned">
         <label name="peers">Peers</label>
       </td>
       <td>
         <input id="peers" type="hidden" name="peers" />
       </td>
     </tr>
     <tr>
       <td class="rightaligned">
         <label name="location">Location</label>
       </td>
       <td>
         <input id="location" type="hidden" name="location" />
       </td>
     </tr>
     <tr>
       <td class="rightaligned">
         <label name="growth">Growth</label>
       </td>
       <td>
         <input id="growth" type="hidden" name="growth" />
       </td>
     </tr>
   </table>
   <div style="margin-top:20px">
     <label for="content">What would you like to say?</label>
     <textarea name="content" rows="3" cols="60"></textarea></div>
   <div><input type="submit" value="Submit Review"></div>
 </form>
{% endblock %}
