.star{
    width:15px;
    height:15px;
    background-image:url('http://www.custom52.com/Images/star_icon.gif');
}
#header{
    color:#333;
    background-color:transparent;
    background-image:url('/images/jobber_header.png');
    background-repeat:no-repeat;
    background-position:bottom left;
    height:80px;
    font-size:150%;
}
#title_text{
    padding-top:40px;
    margin-left:200px;
    color:white;
}
#jobber_logo{
    width:150px;
    height:75px;
}
body{
    font-family:'Droid Serif';
    background-color:#eee;
    margin:0px;
}
#company .title{
    font-size:160%;
}
#page{
    margin-top:10px;
    width:889px;
    margin:auto;
}
#content{
    font-family:'Droid Sans';
    min-height:1000px;
    padding:20px 100px;
    margin:auto;
    background-color:white;
}
#viewby a{
    display:block;
}
#company, #trend_graph{
    float:left;
}
#viewby, #distribution_graph{
    float:right;
}
.star{
    background-color:transparent;
    background-image:url('http://www.softahead.com/img/mall/star_icon1.gif');
    background-repeat:no-repeat;
    background-position:top left;
    width:19px;
    height:18px;
    padding:0px;
    display:inline;
}
#graphs{
    padding-top:50px;
    clear:both;
}