#header{
	height:50px;
	color:#295E11;
	background-color:#A4E685;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	font-size:150%;
	padding:20px 20px 5px 20px;
}
body{
	font-family:sans-serif;
	font-size:120%;
	background-color:#eee;
	margin:0px;
}
#company .title{
	font-size:160%;
}
#page{
  border: 1px solid black;
	width:900px;
	margin:auto;
	border-radius:20px;
}
#content{
	min-height:1000px;
	padding:20px 100px;
	margin:auto;
	background-color:white;
}
#viewby a{
	display:block;
}
#company, #trend_graph{
	float:left;
}
#viewby, #distribution_graph{
	float:right;
}
.star{
  background-color:transparent;
  background-image:url('http://www.softahead.com/img/mall/star_icon1.gif');
  background-repeat:no-repeat;
  background-position:top left;
  width:19px;
  height:18px;
  padding:0px;
  display:inline;
}
#graphs{
	padding-top:50px;
	clear:both;
}