.rightaligned {
    text-align:right;
}
label {
    margin-right:10px;
}
#header {
    color:#333;
    background-color:transparent;
    background-image:url('/images/jobber_header.png');
    background-repeat:no-repeat;
    background-position:bottom left;
    height:80px;
    font-size:150%;
}
#title_text {
    padding-top:40px;
    margin-left:200px;
    color:white;
}
#jobber_logo {
    width:150px;
    height:75px;
}
body {
    font-family:'Droid Serif';
    background-color:#eee;
    margin:0px;
}
#page {
    margin-top:10px;
    width:889px;
    margin:auto;
}
#content {
    font-family:'Droid Sans';
    min-height:1000px;
    padding:20px 100px;
    margin:auto;
    background-color:white;
}
.star {
    cursor:pointer;
}
#company_name {
    color: #555;
    font-size:130%;
    margin-bottom:20px;
}